* {
  box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
    color: #000000;
    font-weight: regular;
    margin: auto;
    overflow-x: hidden;
  }

  html{
    scroll-behavior: smooth;
  }
  
nav{
    background-color: #FFF4DD;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.logo{
    margin-right: auto;
}

nav a{
  font-family: "DM Sans";
  font-size: 20px;
  text-decoration: none;
  color: #383838;
  padding-right: 70px;
}

nav a:hover{
  font-family: "DM Sans";
  font-size: 20px;
  text-decoration: none;
  color: #000000;
  text-decoration: underline;
  padding-right: 70px;
}

.products-grid{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

/* LANDING PAGE*/

h1{
    font-family: "DM Sans";
    color: #FDBB31;
}

h2{
    font-family: "Neue Montreal";
    font-size: 70px;
}

h3{
    font-family: "Neue Montreal";
    font-size: 20px;
    color: #383838;
}

p{
    font-family: "DM Sans";
    font-size: 20px;
}

.bg-text{
    font-family: "DM Sans";
    padding: 1.5rem 0;
    text-transform: capitalize;
}

.bg-text{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    opacity: 0.9;
}

.mg-text{
    font-family: "Neue Montreal";
}

.mg-text{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.button-nav {
    color: #fafafa;
    background-color: #383838;
    font-size: 1rem;
    padding: 0.75rem 1.1rem;
    border-radius: 1.5rem;
    transition: background-color 0.35s;
    display: inline-block;
    text-decoration: none;

    box-shadow: 0px 1px 3px 2px rgb(173, 153, 145, 0.2);
  
    /* reference for drop shadow: https://www.w3schools.com/cssref/css3_pr_box-shadow.php */
    /* reference for rounded corners: https://www.w3schools.com/css/css3_borders.asp */
  }
  
  .button-nav:hover,
  .button-nav:focus {
    color:#fafafa;
    background-color: #383838;
  }
  
  .cart {
    background-color: #fdbb31;
    color: #383838;
  }

.img-item {
    outline: 2px dashed #383838;
    transition: transform 0.2s;
    opacity: 0.85;
    border-radius: 0.1rem;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

.img-item:hover,
.img-item:focus {
  transform: scale(1.04);
  opacity: 1;
  outline: 2px solid #fdbb31;
  /* reference for zoom on hover: https://www.w3schools.com/howto/howto_css_zoom_hover.asp */
}

  .product-cards {
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
    border: 2px solid #fdbb31;
    background-color: #ffffff;
    max-width: 400px;
    padding: 1rem 1rem 2rem;
    border-radius: 0.5rem;
  }

  .product-cards img {
    max-width: auto;
    margin: auto;
  }
  
  .subscription{
    background-color: #FFF4DD;
  }

  .subscription-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscription h3{
    padding: 0px;
    margin: 0px;

    margin-top: 20px;
    margin-bottom: 10px;
  }

  .subscription p{
    padding: 0px;
    margin: 0%;
    margin-bottom: 20px;
  }


  @media all and (max-width: 991px) {
    .newsletter-headline, .newsletter-subtitle {
      text-align: center;
    }
  }

  .subscription form{
    padding-bottom: 5px;
  }

  .newsletter-input {
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 0.3rem;
  border: 2.5px solid #b9b9b9;
  border-radius: 0.4rem;
  font-family: "DM Sans", sans-serif;
  background-color: #fcfcf7;
  transition-property: border-color;
  transition-duration: 0.17s;
  transition-timing-function: ease-in;
  }

  .newsletter-input:hover {
    border-color: #fdbb31;  
  }
  
  .newsletter-input:focus, .newsletter-input:active {
    outline: #fdbb31;
    border-color: #fdbb31;
    background-color: #fff4dd;
  }

  .submit{
    font-family: "DM Sans";
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    background-color: #383838;
    padding: 0.75rem 1.1rem;
    border-radius: 1.5rem;
    transition: background-color 0.35s;
  }

  .submit:hover, .submit:focus{
    color:#383838;
    background-color: #fdbb31;
}



  /* FOOTER */

    .footer{
    background:#FFF4DD;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }

    .footer a, .footer p{
      font-family: "DM Sans";
      font-size: 15px;
      text-decoration: none;
      color: #383838;
      justify-content: center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:#383838;
    justify-content: center;
    }
    
    .footer .row a{
    text-decoration:none;
    color:#383838;
    transition:0.5s;
    margin-right: 50px;
    }
    
    .footer .row a:hover{
    color:#000000;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 20px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }





  .small-container{
    max-width:1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
  }

  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .single-product{
    margin-top:80px;
  }

  .small-img-row{
    display: flex;
    justify-content: space-around
  }

  .col-2 img{
    max-width: 100%;
    padding: 50px 0;
  }

  .small-img-col{
    flex-basis: 24%;
    cursor: pointer;
  }

  .single-product .col-2 img{
    padding: 0;
  }

  .single-product .col-2{
    padding: 20px;
  }

  .col-2{
    flex-basis: 50%;
    min-width: 300px;
  }

  .col2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }

  .single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 2.5px solid #b9b9b9;  
    font-family: "DM Sans", sans-serif;
    border-radius: 0.4rem;  
}

    select:focus {
        outline: #fdbb31;
        border-color: #fdbb31;
        background-color: #ffffff;
      }

  .single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }

  .single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 2.5px solid #b9b9b9;  
    border-radius: 0.4rem;
    font-family: "DM Sans", sans-serif;
    background-color: #ffffff;
    transition-property: border-color;
    transition-duration: 0.17s;
    transition-timing-function: ease-in;
}
  
  input::placeholder {
    color: #ad9991;
  
    /* reference for changing placeholder colour: https://www.w3schools.com/howto/howto_css_placeholder.asp#:~:text=In%20most%20browsers%2C%20the%20placeholder,opacity%3A%201%20to%20fix%20this. */
  }
  
  input:hover {
    border-color: #fdbb31;
  }
  
  input:focus {
    outline: #fdbb31;
    border-color: #fdbb31;
    background-color: #fff4dd;
  }

  .single-product .fa{
    color: #FDBB31;
    margin-left: 10px;
  }

  .btn{
    display: inline-block;
    text-decoration: none;
    background: #fdbb31;
    color: #383838;
    padding: 0.75rem 1.1rem;
    border-radius: 1.5rem;
    margin: 30px 0;
    transition: background-color 0.35s;
  }

  .btn:hover{
    background: #383838;
    color: #ffffff;
  }

  .trend-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }
  
  .trending {
    display: flex;
    justify-content: center;
    gap: 100px; 
    padding-top: 1rem;
    padding-bottom:100px;
  }
  
  .trend-prod {
    text-align: center;
    padding-bottom: 1rem;
  }