

/* NAVIGATION BAR */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: #FFF4DD;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.logo{
    margin-right: auto;
}

nav a{
    font-family: "DM Sans";
    font-size: 20px;
    text-decoration: none;
    color: #383838;
    padding-right: 70px;
}

/* LANDING PAGE*/

h1{
    font-family: "DM Sans";
    color: #FDBB31;
}

h2{
    font-family: "Neue Montreal";
    font-size: 60px;
    color: #383838;
}

p{
    font-family: "DM Sans";
    font-size: 20px;
}

.banner{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.banner a{
    font-family: "DM Sans";
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #383838;
    padding: 0.75rem 1.1rem;
    border-radius: 1.5rem;
    transition: background-color 0.35s;
}

.banner a:hover, .banner a:focus{
    color:#000000;
    background-color: #FDBB31;
    text-decoration: underline;
}

.banner p{
    max-width: 550px;
    padding-bottom: 50px;
}

.banner h1{
    margin-bottom: 0px;
}

.banner h2{
    max-width: 200px;
    margin-top: 0px;
}

.banner-text{
    margin: 20px;
}

/* STATISTICS */

.statistics{
    background-color: #383838;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
}

.statistics h3{
    font-family: "Neue Montreal";
    font-size: 20px;
    color: #FDBB31;
    text-align: center;
}

.stat-text{
    justify-content: center;
    text-align: center; 
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.stat-text img {
    display: block; 
    margin: auto; 
}

.statistics p{
    text-align: center;
    max-width: 200px;
    color: #FDBB31;
    padding-top: 2rem;
}

/* TRENDING PAGE */

h3{
    font-family: "Neue Montreal";
    font-size: 20px;
    color: #383838;
}

.trend-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }
  
  .trending {
    display: flex;
    justify-content: center; /* Center the products horizontally */
    gap: 100px; /* Add some space between products */
    padding-top: 1rem;
  }
  
  .trend-prod {
    text-align: center; /* Center the content within each product box */
    padding-bottom: 1rem;
  }






