* {
    box-sizing: border-box;
  }

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
    color: #000000;
    font-weight: regular;
    margin: auto;
    overflow-x: hidden;
  }

  html{
    scroll-behavior: smooth;
  }
  
nav{
    background-color: #FFF4DD;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.logo{
    margin-right: auto;
}

nav a{
    font-family: "DM Sans";
    font-size: 20px;
    text-decoration: none;
    color: #383838;
    padding-right: 70px;
}


nav a:hover{
    font-family: "DM Sans";
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    text-decoration: underline;
    padding-right: 70px;
}

/* LANDING PAGE*/

h1{
    font-family: "DM Sans";
    color: #FDBB31;
}

h2{
    font-family: "Neue Montreal";
    font-size: 60px;
    color: #383838;
}

p{
    font-family: "DM Sans";
    font-size: 20px;
}

.banner{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.banner a{
    font-family: "DM Sans";
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #383838;
    padding: 0.75rem 1.1rem;
    border-radius: 1.5rem;
    transition: background-color 0.35s;
}

.banner a:hover, .banner a:focus{
    color:#383838;
    background-color: #FDBB31;
}

.banner p{
    max-width: 550px;
    padding-bottom: 50px;
}

.banner h1{
    margin-bottom: 0px;
}

.banner h2{
    max-width: 200px;
    margin-top: 0px;
}

.banner-text{
    margin: 20px;
}

/* STATISTICS */

.statistics{
    background-color: #383838;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
}

.statistics h3{
    font-family: "Neue Montreal";
    font-size: 20px;
    color: #FDBB31;
    text-align: center;
    padding-top: 20px;
}

.stat-text{
    justify-content: center;
    text-align: center; 
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.stat-text img {
    display: block; 
    margin: auto; 
}

.statistics p{
    text-align: center;
    max-width: 200px;
    color: #FDBB31;
    padding-top: 2rem;
}

/* TRENDING PAGE */

h3{
    font-family: "Neue Montreal";
    font-size: 20px;
    color: #383838;
}

.trend-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }
  
  .trending {
    display: flex;
    justify-content: center;
    gap: 100px; 
    padding-top: 1rem;
    padding-bottom:100px;
  }
  
  .trend-prod {
    text-align: center;
    padding-bottom: 1rem;
  }

  /* SUBSCRIPTION */
  /* Reference for this part: https://codepen.io/manor/pen/rzaEEd */

  .subscription{
    background-color: #FDBB31;
  }

  .subscription-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscription h3{
    padding: 0px;
    margin: 0px;

    margin-top: 20px;
    margin-bottom: 10px;
  }

  .subscription p{
    padding: 0px;
    margin: 0%;
    margin-bottom: 20px;
  }


  @media all and (max-width: 991px) {
    .newsletter-headline, .newsletter-subtitle {
      text-align: center;
    }
  }

  .subscription form{
    padding-bottom: 20px;
  }

  .newsletter-input {
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 0.4rem;
  border: 2.5px solid #b9b9b9;
  border-radius: 0.4rem;
  font-family: "DM Sans", sans-serif;
  background-color: #fcfcf7;
  transition-property: border-color;
  transition-duration: 0.17s;
  transition-timing-function: ease-in;
  }

  .newsletter-input:focus, .newsletter-input:active {
    outline: #fdbb31;
    border-color: #383838;
    background-color: #fff4dd;
  }

  .submit{
    font-family: "DM Sans";
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    background-color: #383838;
    padding: 0.75rem 1.1rem;
    border-radius: 1.5rem;
    transition: background-color 0.35s;
  }

  .submit:hover, .submit:focus{
    color:#383838;
    background-color: #FFF4DD;
}



  /* FOOTER */

  .footer{
    background-color: #FFF4DD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 5px;
    }

  .footer-row{
    max-width: 200px;
    text-align: center;
  }

  .footer-firstrow{
    display: flex;
    flex-direction: row;
    gap: 5px;  
  }







